.DS_Store
node_modules
.astro
.env
.env.local
.env.development.local
.env.test.local

.env.production.local
.vscode
package-lock.json
pnpm-lock.yaml
yarn-error.log
dist
coverage
*.log
*.tgz
*.zip
*.tar
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.lz
*.tar.lzma