<section class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14">
    <div class="mx-auto max-w-2xl lg:max-w-5xl">
        <p class="text-center text-xl font-semibold">Privacy Policy</p>
        <br />
        <p>
            This privacy policy explains how we collect, use, and protect the
            personal information of our users.
            <br />
            <br />
            <span class="font-extrabold">Information We Collect</span>
            <br />
            <br />

            We Collect When you use our app, we may collect the following types
            of information:
            <br />
            <br />
            <span class="font-semibold">Personal Information</span>: This
            includes your name, email address, and M-Pesa phone number details
            that you provide to set up your profile and use the app's features.
            <br />
            <br />
            <span class="font-semibold">Transaction Data</span>
            : We will collect information about the financial transactions you make
            through the app, including the amount, date, time, and other details
            related to money transfers and group fund pooling.
            <br />
            <br />
            <span class="font-semibold">Usage Data</span>
            : We may collect information about how you use the app, such as the features
            you access, the pages you visit, and any errors that occur.
            <br />
            <br />
            <span class="font-semibold">Cookies</span>
            : Our app/website uses cookies to enhance your user experience. Cookies
            are small data files stored on your device that help us understand how
            you use the app and enable certain functionalities.
            <br /><br />
            We use the information we collect for the following purposes:
            <br />
            <br />
            Provisioning and Improving the App. We use your personal and transaction
            data to enable the core functions of the app, such as facilitating group
            fund pooling, managing contributions, and processing M-Pesa transactions.
            <br />
            <br />
            Customer Support: We may use your information to respond to your inquiries,
            address your concerns, and provide you with customer support.
            <br />
            <br />
            Analytics and Improvement: We may use your usage data to analyze how
            the app is being used, identify areas for improvement, and develop new
            features.
            <br />
            <br />
            Compliance and Security: We may use your information to comply with legal
            requirements, protect against fraud, and ensure the security of the app
            and your transactions.
            <br />
            <br />
            <span class="font-extrabold">Sharing Your Information </span>
            <br />
            <br />
            We do not sell or rent your personal information to third parties. However,
            we may share your information in the following circumstances:
            <br />
            <br />
            Service Providers: We may share your information with third-party service
            providers, such as payment processors and cloud storage providers, who
            assist us in operating the app and providing services to you.
            <br />
            <br />
            Legal Compliance: We may disclose your information if required to do
            so by law or in response to valid requests by public authorities, such
            as a court or government agency.
            <br />
            <br />
            Business Transfers: In the event of a merger, acquisition, or sale of
            assets, we may transfer your information to the new owner or successor
            entity.
            <br />
            <br />
            <span class="font-extrabold">Data Security </span>
            <br />
            <br />
            We take reasonable measures to protect your personal information from
            unauthorized access, disclosure, alteration, or destruction. This includes
            using encryption, access controls, and other security safeguards. However,
            no method of transmission over the internet or method of electronic storage
            is 100% secure, and we cannot guarantee the absolute security of your
            information.
            <br />
            <br />
            <span class="font-extrabold">Your Rights </span>
            <br />
            <br />
            You have the following rights regarding your personal information:
            <br />
            <br />
            <span class="font-semibold">Access</span>: You can request access to
            the personal information we hold about you.
            <br />
            <span class="font-semibold">Correction</span>: You can request that
            we correct any inaccurate or incomplete personal information we hold
            about you.
            <br />
            <span class="font-semibold">Deletion</span>: You can request that we
            delete your personal information, subject to certain exceptions.
            <br />
            <span class="font-semibold">Objection</span>: You can object to the
            processing of your personal information in certain circumstances.
            <br />
            <br />
            To exercise these rights, please contact us at <span
                class="font-light italic">grupchatinfo@gmail.com</span
            >.
            <br />
            <br />
            <span class="font-extrabold"> Changes to This Privacy Policy </span>
            <br />
            <br />
            We may update this privacy policy from time to time. We will notify you
            of any changes by posting the new policy on our app or website. Your
            continued use of the app after such changes will be deemed your acceptance
            of the updated policy.
            <br />
            <br />
            <span class="font-extrabold">Contact Us </span>
            <br />
            <br />
            Contact us If you have any questions or concerns about this privacy policy
            or our data practices, please contact us at
            <span class="font-light italic">grupchatinfo@gmail.com</span>.
        </p>
    </div>
</section>
